<div class="card" style="width: 20rem;">
  <div class="card-block">
    <h4 class="text-center card-title">{{ product.name }}</h4>
  </div>
  <div class="card-block text-center m-2">
    <img class="card-img-top" style="width: 12rem" src="https://i.imgur.com/rNYBWJ8.jpg" alt="Card image cap">
    <p class="card-text text-truncate">{{ product.description }}</p>
  </div>
  <div class="card-block text-center m-3">
    <a href="/products/{{product.product_id}}" class="btn btn-primary">View</a>
  </div>
</div>
