{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid clearfix">
    <div class="card mt-3">
        <div class="text-center">
            <h1 class="text-center card-title"> {{ product.name }} </h1>
        </div>
        <div class="row">
            <div class="text-center col-sm-5">
                <h3 class="card-subtitle mb-2 text-muted">Description</h3>
                <div class="card-text ml-2">{{ product.description }}</div>
            </div>
            <div class="col-md-2 text-center">
                <img class="card-img-top img-responsive" style="max-width: 15rem;" src="https://i.imgur.com/rNYBWJ8.jpg" alt="Card image cap">
                <span>Price: {{ product.price }}</span>
            </div>
            <div class="text-center col-md-5">
                <span>Order format comes here...</span>
                <div class="">Quantity: {{ product.quantity }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


